<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MyBatis Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.listingservice.mapper.AmenityMapper">
    <select id="getAmenitiesByIds" resultType="String">
        SELECT name
        FROM amenity
        WHERE id IN (
            <foreach collection="amenityIds" item="item" separator="," >
                #{item}
            </foreach>
        )
    </select>

    <select id="getAmenities" >
        SELECT * FROM amenity
    </select>

</mapper>