<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MyBatis Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.listingservice.mapper.ImageMapper">
    <insert id="insert" parameterType="com.example.listingservice.model.Image" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO image (listing_id, image_url)
        VALUES (#{listingId}, #{imageUrl});
    </insert>
    <delete id="delete">
        DELETE FROM image WHERE id = #{id};
    </delete>

    <select id="getImageById" resultType="com.example.listingservice.model.Image">
        SELECT * FROM image WHERE id = #{id};
    </select>

    <delete id="deleteImagesByListingId">
        DELETE FROM image WHERE listing_id = #{listingId};
    </delete>

    <select id="getImagesByListingId">
        SELECT image_url FROm image
        WHERE listing_id = #{listingId}
    </select>

    <insert id="insertImages" parameterType="java.util.List">
        INSERT INTO image (listing_id, image_url)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.listingId},
                #{item.imageUrl}
            )
        </foreach>
    </insert>



</mapper>
